/* Custom properties */

:root {
  --neutral-1: #fbfdfc;
  --neutral-2: #f7f9f8;
  --neutral-3: #eef1f0;
  --neutral-4: #e6e9e8;
  --neutral-5: #dfe2e0;
  --neutral-6: #d7dad9;
  --neutral-7: #cbcfcd;
  --neutral-8: #b8bcba;
  --neutral-9: #868e8b;
  --neutral-10: #7c8481;
  --neutral-11: #5f6563;
  --neutral-12: #1a211e;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;

  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;

  --yellow-1: #fdfdf9;
  --yellow-2: #fefce9;
  --yellow-3: #fffab8;
  --yellow-4: #fff394;
  --yellow-5: #ffe770;
  --yellow-6: #f3d768;
  --yellow-7: #e4c767;
  --yellow-8: #d5ae39;
  --yellow-9: #ffe629;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #473b1f;

  --black-a1: rgba(0, 0, 0, 0.05);
  --black-a2: rgba(0, 0, 0, 0.1);
  --black-a3: rgba(0, 0, 0, 0.15);
  --black-a4: rgba(0, 0, 0, 0.2);
  --black-a5: rgba(0, 0, 0, 0.3);
  --black-a6: rgba(0, 0, 0, 0.4);
  --black-a7: rgba(0, 0, 0, 0.5);
  --black-a8: rgba(0, 0, 0, 0.6);
  --black-a9: rgba(0, 0, 0, 0.7);
  --black-a10: rgba(0, 0, 0, 0.8);
  --black-a11: rgba(0, 0, 0, 0.9);
  --black-a12: rgba(0, 0, 0, 0.95);

  --ff-accent: 'Roboto Slab Variable', serif;
  --ff-neutral: 'Inter Variable', sans-serif;

  --fs-1: 0.75rem;
  --fs-2: 0.875rem;
  --fs-3: 1rem;
  --fs-4: 1.125rem;
  --fs-5: 1.25rem;
  --fs-6: 1.5rem;

  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 700;
  --fw-5: 900;

  --lh-1: 1.1;
  --lh-2: 1.2;
  --lh-3: 1.4;
  --lh-4: 1.5;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;

  --radius-1: 0.25rem;
  --radius-2: 0.375rem;
  --radius-3: 0.5rem;
  --radius-4: 0.625rem;
  --radius-5: 0.75rem;
}

/* General styling */

html,
body {
  height: 100%;
  scrollbar-gutter: auto;
}

body {
  font-size: var(--fs-3);
  font-family: var(--ff-neutral);
  font-weight: var(--fw-2);
  line-height: var(--lh-4);
  color: var(--neutral-12);
  background-color: var(--neutral-1);
}

em {
  font-style: italic;
}

/* Layout styling */

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--space-5);
  max-width: min(100%, 120rem);
  height: 100vh;
}

.wrapper > * + * {
  margin-top: var(--space-5);
}

.wrapper > header,
.wrapper > footer {
  flex: 0 0 auto;
}

.wrapper > main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main > * + * {
  margin-top: var(--space-5);
}
